* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background: #666;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  background: #fff;
  display: block;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas-holder {
  flex-grow: 1;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls {
  background: #444;
  font-size: 0px;
  display: flex;
  justify-content: space-between;
}

.controls-group {
  display: flex;
  padding:20px;
}

.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.btn, .fileInput+label {
  color: #fff;
  background-color: #27afe1;
  text-transform: uppercase;

  border-radius: 10px;
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 40px;
  &:disabled {
    background-color: #aaa;
    &:hover {
      background-color: #aaa;
    }
  }
  &:focus {
    outline: none;
  }
  &.margin {
    margin-right: 15px;
  }
  &:hover {
    cursor: pointer;
    background-color: #58c8f1;
  }
}
